@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --body-bg-color: #353531;
    --border-link: #FF8200;
    --border-photo: #c84343c7;
    --color-font: #FFC100;
    --color-icons: #ffe9ae;
    --background-hover: #e9e9e921;

    --font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--body-bg-color);
    color: var(--color-font);
}

div#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

#foto{
    text-align: center;
}

#foto img{
    width: 213px;
    border: 3px solid var(--border-link);
    border-radius: 50%;
}

#container ul{
    text-align: center;
    list-style-type: none;

    margin-top: 25px;
    
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-bottom: 15px;
    padding: 16px 24px;

    width: 312px;


    border: 2px solid var(--border-link);

    color: var(--color-font);
    text-decoration: none;
}

ul li a:hover{
    border: 2px solid var(--border-photo);
    background-color: var(--background-hover);
}

div#social-links{
    display: flex;
    justify-content: center;

    padding: 24px 0;

    font-size: 24px;
}

#social-links a{
    padding: 16px;

    color: var(--color-icons);
}






