@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

:root{
    --body-bg-color: #121214;
    --text-color: #e1e1e6;
    --title-color: #04d361;
    --form-color: #a8a8a8;
    --bg-button-color: #8257e5;

}

body{
    background-color: var(--body-bg-color);
}  

header{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
    justify-content: center;
    
}

header h1{
    font-size: 2.5em;
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
    margin-left: 5px;
}

main{
    background-color: rgba(211, 211, 211, 0.144);
    width: 1200px;
    height: 100vh;
    border-radius: 15px;
    padding: 5px;
    margin: auto;
    text-align: center;
    
}

main section.left{
    margin-top: 92px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
}

main section.right{
    display: flex;
    align-items: end;
}


main section.left h2{
    font-family: 'Work Sans', sans-serif;
    color: var(--title-color);
}

main section.left h3{
    font-family: 'League Spartan', sans-serif;
    line-height: 2.3em;
}

main section.left p{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
}



div.form{
    margin-top: 50px;
}

div.form label{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    color: var(--form-color);
}


 div.form input{
    width: 750px;
    height: 48px;
    border: none;
}

div.form button{
    width: 48px;
    height: 48px;
    
    position: relative;
    top: 8px;
    right: 5px;

    background-color: var(--bg-button-color);
    border: none;
}

div.form button:hover{
    background-color: var(--title-color);
    transform: scale(1.1);
}

div.form button figure{
    width: 24px;
    height: 24px;
    margin: auto;
}

div.read{
    margin-top: 52px;
}

div.read a{
    color: var(--bg-button-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    line-height: 19px;
}

div.read img{
    position: relative;
    top: 6px;
}

div.read a:hover{
    text-decoration: underline;
}